{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2><a href="?date={{ book.pub_date }}">{{ book.name }}</a></h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>  
            {% endfor %}
            {% comment %} <div class="book col-md-4">
                <h2>1984</h2>
                <p>Автор: Джордж Оруэл</p>
                <p>Дата публикации: 2015-03-11</p>
            </div> {% endcomment %}
        </div>
        <br>
        <a href="?date={{ previous_book }}">{{  previous_date  }}</a>
        <a href="?date={{ next_book }}">{{  next_date  }}</a>
    </div>
{% endblock %}